article,
article {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
article input {
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    margin-bottom: 10px;
    background-bottom: #ccc;
}
my-button {
    width: 100%;
    margin: 10px 0;
    margin-bottom: 10px;
}
